# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
LTRepository/.vs/
LTRepository/Debug/
LTRepository/LTRepository.sln.DotSettings.user
LTRepository/LTRepository.vcxproj.user

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
