# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
Fusepp-2.0/ltrmount/.vs/
Fusepp-2.0/ltrmount/Debug/
Fusepp-2.0/ltrmount/x64/
Fusepp-2.0/ltrmount/*.user

Fusepp-2.0/ltrmount/LTRMount
LtrFacade*
# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
